<section class="section">
  <div class="container">

    <h1 class="title is-1">Training Log</h1>


    <div class="conlumns">
      <div class="column is-one-fifth">
          <%= link_to "New Log", new_log_path, :class => 'button is-fullwidth is-primary' %>
      </div>
    </div>

 <!-- Calendar -->

  <% start_date = params.fetch(:start_date, Date.today).to_date %>
  <% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

    <%= link_to "Previous", start_date: date_range.first - 1.day%>
    <%= I18n.t("date.month_names")[start_date.month]%> <%= start_date.year%>
    <%= link_to "Next", start_date: date_range.last + 1.day%>
    
    <table class = "table">
      <thead>
        <th>
          <% date_range.slice(0, 7).each do |day|%>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
          <%end%>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day|%>
            <td>
              <%= day %>
            </td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>

<!-- Log table -->

    <table class="table">
      <thead>
        <tr>
          <th><%= sortable "title" %></th>
          <th><%= sortable "date" %></th>
          <th><%= sortable "description" %></th>
        </tr>
      </thead>

      <% @logs.each do |log| %>
        <tr>
          <td>
            <%= link_to log.title, log, :class => 'button is-fullwidth is-primary' %>
          </td>
          <td>
            <%= log.date %>
          </td>
          <td>
            <%= log. description %>
          </td>
        </tr>
      <% end %>
    </table>
    
  </div>
</section>