<section class="section">
    <div class ="container">
        <h1 class ="title is-1"><%= @log.title %></h1>


         <div class="columns">
            <div class="column is-one-fifth">
                <%= link_to "All Logs", logs_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= button_to "Delete", log_path, method: :delete, :class => 'button is-fullwidth' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Edit", edit_log_path(@log), :class => 'button is-fullwidth' %>
            </div>
        </div>



        <div class="box">
        
            <p><strong>Date:</strong> <%= @log.date %> </p>
            <p><strong>Type:</strong> <%= @log.session_type %> </p>
            <p><strong>Duration:</strong> <%= @log.duration %> </p>
            <p><strong>Intensity:</strong> <%= @log.intensity %> </p>
            <p><strong>Description:</strong> <%= @log.description %> </p>

        <div>
    </div>
</section>